html {
    box-sizing: border-box;
    
}
body {
    margin: 0;
    padding: 0;
    /* background-color: #cccccc; */
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
h2, h3{
    text-align: center;
    /* font-family: 'Montserrat', sans-serif; */
}
p {
    text-align: center;
}

/********************** HEADER   *******************/

header {
    background-color: #bbbbbb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2.5rem;
    margin: 0;
}
header img {
    width: 100px;
}
nav a {
    color:black;
    font-weight: bold;
    font-size: 22px;
    padding: .5rem
}
nav a:hover {
    color:#c78c19;
    transform: scale(1.2) ; /* transformar la escala del elemento*/
}

/*** MAIN**/ 
main {
    background: linear-gradient(#ffffff, #888888)
}
/* section {
    margin: 0;
} */
.title {
padding-left: 30px;
}

.banner {
    width: 100%;
}

.principal {
    margin: 0 auto;
    /* background-color: #cccccc; */
    padding: 20px;
    width: 80%;
}
.principal-title {
    font-size: 2.5rem;
    margin:1.5rem;
    /* text-shadow:2px 2px 10px black; */
}
/* 
insertar algo antes o despues del titulo
.principal-title::before {
    content: "["
} */
.principal p {
    text-align: start;
    margin: 0 0 1em 0;
    font-size: 1.2rem;
}
.principal strong {
    font-weight: bold;
}

#mision {
    font-size: 1.3rem;
}
em strong {
    /* color: red; */
    font-style: italic;
}

.descripcion-principal {
    margin: 0 auto;
    display: flex;
    /* width: 90%; */
    align-items: start;
    /* justify-content: center; */
    gap: 1rem;
}
.descripcion-img {
    /* width: 15%; */
    /* width: 12rem; */
    width:calc(30% - (26px))
}

/***** MAP ****/
.map{
    text-align:center;
    margin: 1.5rem;
}
.map h3{
    padding: 1.5rem;
}
.map p {
    padding-bottom: 1.5rem;
}


/********************* diferenciales *******************/
.diferenciales {
    /* background-color: #ffffff; */
    /* background-color: #888888; */
    padding: 30px;
    margin: 0;
    /* box-shadow: inset 0 0 30px red; sombra hacia adentro */
}
.cont-diferenciales {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    /* width: 80%; */
}
.item {
    font-style: italic;
    /* font-size: 1.5rem; */
    margin-bottom: 1rem;
}
.item:first-child {
    font-weight: bold;
}
.item::before {
    content: "â‹  "
}


ul {
    display: inline-block;
    vertical-align: top;
    /* width:60%; */
    /* margin-left: 15%; */
}
#imgDiferenciales {
    width:30%;
    transition: 400ms;
    /* box-shadow: 10px 10px 20px black; */
    /* box-shadow: inset 0 0 30px red; sombra hacia dentro */
    box-shadow: 10px 10px 20px black, -10px -10px  20px white; /* se pueden poner varias sombras a un mismo elemento separado por comas */
}
#imgDiferenciales:hover {
    opacity: .5;
}


/*********************** VIDEO ********************/
.video {
    text-align: center;
    padding: 4rem;
}
.video > iframe {
    box-shadow: 0px 0px 25px black, 0px 0px 25px black;
}


 /********* footer****/
footer {
    text-align: center;
    background: url(img/bg.jpg);
    padding: 1.5rem;
}
footer img {
    width: 8rem;
}
footer p {
    color: white;
    font-size:.9rem;
    margin-top: 1rem;
}


/***************** MEDIA QUERIES*****************/
@media screen and (max-width:480px){
    body {
        background-color: red;
    }
    .video {
        padding: .2rem;
    }
    .video > iframe {
        width: 95%;
        height: auto;
        
    } 

}